
/*  Add any css definitions for your project here */
.rp-runreport-preview {
	background: white !important;
	border: 1px solid #ccc;
	height: 570px;
	overflow: hidden !important;
}

.rp-runreport-designer {
	height: 560px;
	width: 900px;
}

.jsr-content-viewport {
	background: white;
}

