/*  Add any css definitions for your project here */
.col-xs-2, col-xs-10 {
	padding-left: 0px !important;
}

.rp-reporttemplate-list-footer {
	background-color: #1F6B8D;
	text-align: center;
}

.rp-reporttemplate-list-create {
	margin-top: 5px;
	width: 95%;
}

li.rpreport-locked { 
    background-color: #777777; 
    opacity: 0.2 !important;
}

.rp-report-title {
	padding-left: 20px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.rp-report-title input {
	width: 400px;
	color: #000;
}

.rp-reporttemplate-preview {
	margin-bottom: 5px;
	margin-right: 5px;
}

.rp-report-designer {
	clear: both;
}

.rp-reporttemplate-button {
	margin-right: 5px;
}

.rp-report-preview {
	background: white;
	border: 1px solid #ccc;
	width: 900px;
	height: 560px;
	overflow: hidden !important;
}

.rp-instructionsPanel p {
	color: #000 !important; 
}

/* jsreports */
.jsr-style-root .dropdown-menu>li>a {
	color: #333 !important;
}

.jsreports-designer .header h3 {
	color: #aaa !important;
}

.navbar .nav>li>a {
	color: #777 !important;
}