<!-- Widget -->

<div class='col-xs-2 op-container'>
	<!--Left bar-->
	<div class="op-container op-widget sticky rp-runreport-list">
		<div class="op-widget-masthead">
			<h3><strong app-label-key="rpreport.runreport.list.header">Report Templates</strong></h3>
			<p app-label-key="rpreport.runreport.list.description">Choose one of the report template to view</p>
		</div>
		<div class="op-widget-body">
			<ul class="op-list">
				<!-- 
                          data.attr('runReportLists').each(function(item) { 

                            var active = '';
                            if (data.selectedItem && data.selectedItem.getID() == item.getID()) {
                              active = 'active';
                            }

                          -->
				<li mockup-show="new-activity" class="op-container selected [[= active ]]" rp-run-report-id="[[= item.getID() ]]" obj-embed="item">
					<div><i class="fa fa-file-text"></i> <strong>[[= item.attr('title') ]]</strong></div>
				</li>
				<!--
                    });
                    -->
			</ul>
		</div>
	</div>
	<!--/Left bar-->
</div>

<!-- Main stage area -->
<div class='col-xs-10'>
	<div class="rp-runreport-display op-container">
		<div class="rp-runreport-instructionsPanel mockup-display new-activity opsportal-content-area">
			<p app-label-key="rpreport.runreport.instruction.selectOne"> Select an entry on the left to view the report
			</p>
		</div>
		<div class="rp-runreport-loading mockup-display new-activity opsportal-content-area">
			<p app-label-key="rpreport.loading">Loading...</p>
		</div>
		<div class="rp-runreport-preview-panel op-widget">
			<div class="rp-runreport-preview op-widget-body">
			</div>
			<div class="rp-runreport-button pull-right op-container nobgcolor op-margin-top">
				<button class="rp-runreport-edit btn btn-success offset-15" type="submit"><i class="fa"></i><span app-label-key="rpreport.buttons.edit">Edit</span></button>
			</div>
		</div>

		<div class="rp-runreport-workspace modal fade" role="dialog">
			<div class="modal-dialog modal-lg" style="width: 940px">
				<div class="modal-content" style="width: 940px">
					<div class="modal-body" style="height: 600px; width: 840px">
						<div class="rp-runreport-designer">
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="rp-runreport-save btn btn-success" data-dismiss="modal" app-label-key="rpreport.buttons.save">Save</button>
						<button type="button" class="btn btn-warning" data-dismiss="modal" app-label-key="rpreport.buttons.close">Close</button>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>